.article-picture {
    width: 300px;
    height: 300px;
    margin: 30px;
    box-shadow: -3px 3px 10px 0 rgba(0, 0, 0, 0.45);
    border-radius: 5%;
}

.article-icon {
    width: 50px;
    height: 50px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.45);
    border-radius: 5%;
}