

nav.navbar a.navbar-brand {
	margin-left: 30px;
}

nav.navbar ul.navbar-nav.mr-auto li.nav-item:first-child {
	margin-right: 100px;
}

nav.navbar ul.navbar-nav.mr-auto li.nav-item:last-child {
	margin-right: 50px;
}
