%p
	Hola 
	= @user_name || @email
	, alguien ha solicitado un enlace para restablecer tu contraseña de SepoPedia debido a la pérdida u olvido de esta. Si eres tú quien solicitó dicho cambio, haz click 
	= link_to 'aqui', edit_password_url(@resource, reset_password_token: @token)
	= '.'
%p
	Si nunca has solicitado restablecer tu contraseña, porfavor ignora este email. Tu contraseña no se verá afectada a menos que accedas al link y la cambies.
