/*
    USER LOGIN AND REGISTRATION
*/ 
.account-wall
{
    margin-top: 50px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.form-user-session
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-user-session .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-user-session .form-control:focus
{
    z-index: 2;
}
.form-user-session input
{
    border-radius: 5px;
    margin-bottom: 5px;
}
.form-user-session.form-signup input[type="text"]
{
    margin-bottom: 15px;
}

.form-user-session.form-signin input[type="password"]
{
    margin-bottom: 15px;
}

.form-user-session input[type="submit"]
{
    margin-top: 10px;
}
.account-wall p
{
    color: #656565;
    margin: 15px 25px 10px 25px;
}